<header class="header">
  <h1 class="nameH1Title">Emma Feret</h1>
  <nav>
    <ul class="align">
      <li>
        <a href="#" class="headerNavigationButtons">Work</a>
      </li>
      <li>
        <a href="#" class="headerNavigationButtons">Story</a>
      </li>
      <li>
        <a href="#" class="headerNavigationButtons">Philosophy</a>
      </li>
      <li>
        <a href="#" class="headerNavigationButtons">Contact</a>
      </li>
    </ul>
  </nav>
  <a href="#" class="darkPurpleSolidButton">Hire Me</a>
</header>
