@use '@styles/styles.scss';
@use '@styles/variables.scss';

.header {
  background-color: variables.$base-color-whiteCream;
  border: 0.1rem solid variables.$base-color-softPurple;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 999;
}

@media (max-width: 75.375rem) {
  .header {
    font-size: variables.$size-medium-mobile;
    height: 3rem;
    margin: 1rem 3%;
  }
}
@media (min-width: 75.375rem) {
  header {
    font-size: variables.$size-medium-pc;
    height: 5rem;
    margin: 2rem 4%;
  }
}
.nameH1Title {
  font-weight: bold;
  color: variables.$base-color-darkPurple;
}
@media (max-width: 75.375rem) {
  .nameH1Title {
    font-size: variables.$size-large-mobile;
  }
}
@media (min-width: 75.375rem) {
  .nameH1Title {
    font-size: variables.$size-large-pc;
  }
}
.headerNavigationButtons {
  background-color: transparent;
  color: variables.$base-color-darkGrey;
  padding: 0 0.3rem;
  text-decoration: none;
}

@media (min-width: 75.375rem) {
  .headerNavigationButtons {
    font-size: variables.$size-medium-pc;
  }
}
