<header class="header">
  @let nameTitleSignal = nameTitle();
  <a routerLink="/">
    <img src="/homeLogo.png" alt="LogoHomePage" class="homePageLogo" />
  </a>
  <h1 class="nameH1Title">{{ 'GENERAL.TITLE' | translate }}</h1>
  <!-- <h1 class="nameH1Title">{{ nameTitleSignal?.name }} {{ nameTitleSignal?.surname }}</h1> -->
  <nav>
    <ul class="align">
      @let headerList = headerNavigation();
      @for (listElement of headerList; track $index) {
        <li>
          <button
            class="headerNavigationButtonsNative"
            (click)="navigateToProject(listElement.router)"
          >
            {{ listElement.listNavigationElement }}
          </button>
        </li>
      }
    </ul>
  </nav>
  <a routerLink="/contact" class="darkPurpleSolidButton">Hire Me</a>
</header>
