@use '@styles/variables.scss';
@use '@styles/classes.scss';

.centerContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 9rem 25% 0 25%;
  background-color: variables.$base-color-whiteCream;
  border-radius: 2rem;
  border-style: solid;
  border-width: 0.5rem;
  border-color: variables.$base-color-softGreen;
  max-width: 55rem;
  height: 25rem;
}
.buttonsPositionMargin {
  margin: 2.5rem 3rem 0 0;
}

.centerContactPositionFix {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerSmallDescriptionPositionFix {
  max-width: 35rem;
  margin: 0 auto;

  font-size: variables.$size-smallPlus-pc;
  text-align: center;
  line-height: 150%;
}

// Responsive mobile
@media (max-width: 75.375rem) {
  .centerContact {
    width: auto;

    height: auto;

    margin: 4rem 1rem 0 1rem;

    padding: 2rem 1.5rem;

    border-width: 0.3rem;
    border-radius: 2rem;

    text-align: center;
  }

  .centerSmallDescriptionPositionFix {
    margin: 1rem 0;

    font-size: variables.$size-mediumPlus-mobile;
    line-height: 1.8;
  }

  .centerContactPositionFix {
    width: 100%;

    flex-direction: column;

    gap: 1rem;

    margin-top: 1.5rem;
  }

  .buttonsPositionMargin {
    margin: 0;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
