<div class="centerContact">
  <h2 class="titlePartPresentation">04. Contact</h2>
  <h3 class="titleH3Hook bold">Prêt pour une collaboration ?</h3>
  <p class="centerSmallDescriptionPositionFix">
    Je suis activement à la recherche d'une alternance pour mettre mes compétences au service de vos
    projets les plus ambitieux.
  </p>
  <div class="centerContactPositionFix">
    <a href="#" class="darkPurpleSolidButton buttonsPositionMargin"> Envoyer un message </a>
    <a
      href="javascript:void(0)"
      class="whiteBorderSolidButton buttonsPositionMargin"
      (click)="downloadCv()"
      >Mon CV</a
    >
  </div>
</div>
