@use '@styles/variables.scss';
@use '@styles/classes.scss';

.centerContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 9rem 25% 0 25%;
  background-color: variables.$base-color-whiteCream;
  border-radius: 2rem;
  border-style: solid;
  border-width: 0.5rem;
  border-color: variables.$base-color-softOrange;
  width: 50%;
  height: 25rem;
}
.buttonsPositionMargin {
  margin: 2.5rem 3rem 0 0;
}

.centerContactPositionFix {
  display: flex;
}
.centerSmallDescriptionPositionFix {
  margin: 0 20%;
  font-size: variables.$size-smallPlus-pc;
  text-align: center;
  line-height: 150%;
}
