<div class="articlGlobalPresentation skillIntroTitle">
  <h2 class="titleH3Hook bold">
    Evolution de mes <span class="titleH3Hook titlePartPresentation italic"> Compétences.</span>
  </h2>
  <p class="skillIntroContent">
    Mon parcours, de l'animation 3D au développement web, m'a permis de développer des compétences
    complémentaires telles que l'organisation, le travail d'équipe, la rigueur et l'autonomie.
    Habituée à collaborer sur des projets créatifs et techniques, j'ai appris à construire des
    solutions solides, à résoudre des problématiques complexes et à porter une attention
    particulière à l'expérience utilisateur comme aux détails de réalisation.
  </p>
</div>
