@let experience = userExperience();
<article class="align experiencePres">
  <div class="articlGlobalPresentation column">
    <p class="titlePartPresentation experienceMarginFix">{{ experience?.title }}</p>
    <p class="titleH3Hook experienceMarginFix">{{ experience?.company }}</p>
    <div class="articleContent">
      <p>{{ experience?.duration }}</p>
      <br />
      <p>{{ experience?.description }}</p>
    </div>
  </div>
  <img src="{{ experience?.link }}" class="experienceImg" />
</article>
