@let experience = userExperience();
<article class="align experiencePres">
  <div class="column">
    <p class="titlePartPresentation experienceMarginFix">{{ experience?.title | translate }}</p>
    <p class="titleH3Hook experienceMarginFix italic">{{ experience?.company }}</p>
    <div class="articleContent">
      <p class="bold">{{ experience?.duration | translate }}</p>
      <br />
      <p>{{ experience?.description | translate }}</p>
    </div>
  </div>
  <img
    src="{{ experience?.link }}"
    class="experienceImg"
    alt="image representant l'experience de {{ experience?.title }}"
  />
</article>
