@use '@styles/styles.scss';
@use '@styles/variables.scss';

.experienceImg {
  margin: 2% 10%;
  height: 20rem;
  width: 30rem;
  display: flex;
  border-radius: 5%;
  object-fit: cover;
}
@media (max-width: 75.375rem) {
  .experienceImg {
    height: 10rem;
    width: 10rem;
  }
}
.articleContent {
  width: 50rem;
  margin-left: 5rem;
  font-size: variables.$size-medium-pc;
}
.titlePartPresentation {
  margin-top: 1rem;
}
.experiencePres {
  display: flex;
  justify-content: space-between;
}
.experienceMarginFix {
  margin-left: 5rem;
}
