<div class="align centerContent">
  <article class="articlGlobalPresentation">
    <p class="textBoxAlternance">Alternance Octobre 2026</p>
    <h2 class="bigTitleIntroduction">
      De l'Art 3D au <span class="bigTitleIntroductionColor">Développement web</span>
    </h2>
    <p class="introductionContent">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, dolores eaque. Et tempore.
    </p>
    <a href="" class="darkPurpleSolidButton">Projets</a>
  </article>
  <img
    class="fitImageIntroduction articlGlobalPresentation"
    src="/img/emma-feret-SOUR-sideImg.jpg"
    alt="image"
  />
</div>
