@use '@styles/styles.scss';
@use '@styles/variables.scss';

.positionIntroduction {
  justify-content: center;
}
@media (max-width: 75.375rem) {
  .positionIntroduction {
    margin-top: 2rem;
  }
}
@media (min-width: 75.375rem) {
  .positionIntroduction {
    margin-top: 15rem;
  }
}

@media (max-width: 75.375rem) {
  .fitImageIntroduction {
    width: 80%;
    height: 10rem;
    border-radius: 2rem;
    overflow: hidden;
    object-fit: cover;
    transform: rotate(-4deg);
    margin: 0 4%;
  }
}
@media (min-width: 75.375rem) {
  .fitImageIntroduction {
    width: 40rem;
    height: 35rem;
    border-radius: 2rem;
    overflow: hidden;
    object-fit: cover;
    transform: rotate(-5deg);
  }
}
.textBoxAlternance {
  background-color: variables.$base-color-softPurple;
  color: variables.$base-color-darkPurple;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  border-radius: 0.8rem;
}
@media (max-width: 75.375rem) {
  .textBoxAlternance {
    font-size: variables.$size-medium-mobile;
    width: 8rem;
  }
}
@media (min-width: 75.375rem) {
  .textBoxAlternance {
    font-size: variables.$size-medium-pc;
    width: 16rem;
  }
}

.bigTitleIntroduction {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 5%;
}
@media (max-width: 75.375rem) {
  .bigTitleIntroduction {
    font-size: variables.$size-large-mobile;
    font-weight: bold;
  }
}
.bigTitleIntroductionColor {
  color: variables.$base-color-darkPurple;
}
.introductionContent {
  font-size: variables.$size-medium-pc;
  width: 90%;
  line-height: 160%;
  margin: 5% 0;
}
@media (max-width: 75.375rem) {
  .introductionContent {
    font-size: variables.$size-medium-mobile;
    width: 90%;
  }
}
