<div class="align positionIntroduction">
  <div class="imageWrapper">
    <img class="fitImageIntroduction" src="emma-feret-SOUR-sideImg.jpg" alt="D.S. Al Coda image " />
  </div>
  <article class="articlGlobalPresentation fixArticlePos">
    <p class="textBoxAlternance">{{ 'HOME.INTRODUCTION.LABEL' | translate }}</p>
    <h1 class="bigTitleIntroduction">
      {{ 'HOME.INTRODUCTION.TITLE_PART_1' | translate }}
      <span class="bigTitleIntroductionColor italic">{{
        'HOME.INTRODUCTION.TITLE_PART_2' | translate
      }}</span>
    </h1>
    <p class="introductionContent">
      {{ 'HOME.INTRODUCTION.DESCRIPTION' | translate }}
    </p>
    <a class="darkPurpleSolidButton buttonTest" routerLink="/projects">{{
      'HOME.INTRODUCTION.PROJECTS_BTN' | translate
    }}</a>
  </article>
  <!-- <button (click)="openModal()">MODALE</button> -->
</div>
