@use '@styles/classes.scss';
@use '@styles/variables.scss';

.positionIntroduction {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 variables.$marginSidesSmall;
  gap: 4rem;
}

@media (min-width: 75.375rem) {
  .positionIntroduction {
    margin-top: 13rem;
    margin-bottom: 5rem;
  }
}

@media (min-width: 75.375rem) {
  .fitImageIntroduction {
    width: 35rem;
    height: 35rem;
    border-radius: 2rem;
    overflow: hidden;
    object-fit: cover;
    transform: rotate(-5deg);
    margin-left: 8rem;
  }
}

.textBoxAlternance {
  background-color: variables.$base-color-softGreen;
  color: variables.$base-color-darkPurple;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  border-radius: 0.8rem;
}

@media (min-width: 75.375rem) {
  .textBoxAlternance {
    font-size: variables.$size-medium-pc;
    width: 16rem;
  }
}

@media (min-width: 75.375rem) {
  .bigTitleIntroduction {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: bold;
    margin-top: 2rem;
  }
}

.bigTitleIntroductionColor {
  color: variables.$base-color-darkPurple;
}
.introductionContent {
  font-size: variables.$size-medium-pc;
  width: 90%;
  line-height: 160%;
  margin: 2rem 0 3rem 0;
}

.buttonTest {
  background: transparent;
  border: 2px solid variables.$base-color-darkPurple;
  color: variables.$base-color-darkPurple;
  font-weight: bold;
  font-size: variables.$size-medium-pc;
  transition: all 0.5s;
}

.buttonTest:hover {
  background-color: variables.$base-color-whiteCream;
}

// Responsive mobile

@media (max-width: 75.375rem) {
  .positionIntroduction {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 6rem 1rem 3rem 1rem;
    gap: 2rem;
  }

  .imageWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .fitImageIntroduction {
    width: 100%;
    max-width: 22rem;
    height: 18rem;

    border-radius: 2rem;
    object-fit: cover;

    margin: 1rem;
  }

  .articlGlobalPresentation {
    margin: 0;
    width: 100%;
  }

  .fixArticlePos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 40rem;
  }

  .textBoxAlternance {
    width: auto;
    padding: 0.5rem 1rem;

    font-size: variables.$size-medium-mobile;
  }

  .bigTitleIntroduction {
    font-size: 2rem;
    line-height: 2.4rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .introductionContent {
    width: 100%;

    font-size: variables.$size-mediumPlus-mobile;
    line-height: 1.8;

    margin: 1rem 0 2rem 0;
  }

  .buttonTest {
    font-size: variables.$size-medium-mobile;

    padding: 0.8rem 1.5rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
