<div class="align positionIntroduction">
  <img
    class="fitImageIntroduction articlGlobalPresentation"
    src="/img/emma-feret-SOUR-sideImg.jpg"
    alt="image issue du film D.S. Al Coda "
  />
  <article class="articlGlobalPresentation">
    <p class="textBoxAlternance">{{ 'HOME.INTRODUCTION.LABEL' | translate }}</p>
    <h1 class="bigTitleIntroduction">
      {{ 'HOME.INTRODUCTION.TITLE_PART_1' | translate }}
      <span class="bigTitleIntroductionColor italic">{{
        'HOME.INTRODUCTION.TITLE_PART_2' | translate
      }}</span>
    </h1>
    <p class="introductionContent">
      {{ 'HOME.INTRODUCTION.DESCRIPTION' | translate }}
    </p>
    <a class="darkPurpleSolidButton" routerLink="/projects">{{
      'HOME.INTRODUCTION.PROJECTS_BTN' | translate
    }}</a>
  </article>
</div>
