@use '@styles/variables.scss';
@use '@styles/styles.scss';

.horizontalLign {
  height: 0.1rem;
  width: 25%;
  flex: 1;
  background: variables.$base-color-darkPurple;
  opacity: 0.3;
  display: flex;
  justify-content: center;
}
