<div class="align centerContent">
  <article class="articlGlobalPresentation">
    <h2 class="titlePartPresentation"> 01. Mon histoire</h2>
    <h3 class="titleH3Hook">Fusionner les mondes.</h3>
    <p class="articleContent">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, dolores eaque. Et tempore.  <br> Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Distinctio rerum laudantium cum corrupti esse quisquam.
    </p>
  </article>
  <img class="fitImageMyStorySour" src="/img/emma-feret-SOUR-sideImg.jpg" alt="image du court metrage D.S. Al Coda, sorti en 2024">
</div>
