@use '@styles/variables.scss';
@use '@styles/classes.scss';

.fitImageMyStorySour {
  margin: 2%;
}

@media (max-width: 75.375rem) {
  .fitImageMyStorySour {
    width: 40rem;
    height: 10rem;
    border-radius: 2rem;
    overflow: hidden;
    object-fit: cover;
  }
}
@media (min-width: 75.375rem) {
  .fitImageMyStorySour {
    border-radius: 5rem;
    width: 40%;
    object-fit: cover;
  }
}

.articleContent {
  word-spacing: 5%;
}
@media (max-width: 75.375rem) {
  .articleContent {
    font-size: variables.$size-medium-mobile;
    line-height: 1rem;
  }
}
@media (min-width: 75.375rem) {
  .articleContent {
    font-size: variables.$size-medium-pc;
    width: 80%;
    line-height: 2rem;
  }
}
