@use '@styles/variables.scss';
@use '@styles/defaultComportement.scss';

// Global CSS

.align {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.centerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.justifyCenter {
  display: flex;
  justify-content: center;
}
@media (max-width: 75.375rem) {
  .centerContent {
    margin: 20% 0;
  }
}
@media (min-width: 75.375rem) {
  .centerContent {
    margin: 10% 0;
  }
}

.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.articlGlobalPresentation {
  margin: 0 5%;
}
@media (max-width: 75.375rem) {
  .articlGlobalPresentation {
    margin: 4% 5%;
  }
}

.darkPurpleSolidButton {
  background-color: variables.$base-color-darkPurple;
  border: none;
  color: variables.$base-color-whiteCream;
  text-decoration: none;
  border-radius: 5rem;
  transition: all 0.5s;
}
.darkPurpleSolidButton:hover {
  background-color: variables.$base-color-darkPurpleSoft;
}
@media (max-width: 75.375rem) {
  .darkPurpleSolidButton {
    font-size: variables.$size-medium-mobile;
  }
}
@media (min-width: 75.375rem) {
  .darkPurpleSolidButton {
    padding: 0.8rem 2rem;
  }
}

.darkPurpleSolidButtonNative {
  background-color: variables.$base-color-darkPurple;
  border: none;
  color: variables.$base-color-whiteCream;
  text-decoration: none;
  border-radius: 5rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  outline: none;
  font: inherit;
  transition: all 0.5s;
}
.darkPurpleSolidButtonNative:hover {
  background-color: variables.$base-color-darkPurpleSoft;
}
@media (max-width: 75.375rem) {
  .darkPurpleSolidButtonNative {
    font-size: variables.$size-medium-mobile;
    padding: 0.3rem 0.3rem;
  }
}

@media (min-width: 75.375rem) {
  .darkPurpleSolidButtonNative {
    padding: 0.8rem 2rem;
  }
}
.whiteBorderSolidButton {
  background-color: variables.$base-color-whiteCream;
  border: solid 1px;
  border-color: variables.$base-color-darkPurple;
  color: variables.$base-color-darkPurple;
  text-decoration: none;
  border-radius: 5rem;
}
@media (max-width: 75.375rem) {
  .whiteBorderSolidButton {
    padding: 0.45rem 0.5rem;
  }
}
@media (min-width: 75.375rem) {
  .whiteBorderSolidButton {
    padding: 0.8rem 2rem;
  }
}
.titlePartPresentation {
  color: variables.$base-color-darkPurple;
  font-weight: bold;
}
@media (max-width: 75.375rem) {
  .titlePartPresentation {
    font-size: variables.$size-small-mobile;
  }
}
@media (min-width: 75.375rem) {
  .titlePartPresentation {
    font-size: variables.$size-medium-pc;
  }
}

@media (max-width: 75.375rem) {
  .titleH3Hook {
    font-size: variables.$size-large-mobile;
    margin: 0.5rem 0;
  }
}
@media (min-width: 75.375rem) {
  .titleH3Hook {
    font-size: variables.$size-large-pc;
    margin: 1rem 0;
    line-height: 5rem;
  }
}
.softPurple {
  color: variables.$base-color-softPurple;
}
