//Constants
$size-medium-pc: 1.2rem;
$size-medium-mobile: 0.6rem;
$size-mediumPlus-pc: 1.6rem;
$size-mediumPlus-mobile: 0.8rem;
$size-large-pc: 2.5rem;
$size-large-mobile: 1rem;
$size-small-pc: 0.8rem;
$size-small-mobile: 0.6rem;

$base-color-darkPurple: #585594;
$base-color-softPurple: #ede8f0;
$base-color-whiteCream: #fcf8f5;
$base-color-softOrange: #fbe6d7;
$base-color-softOrange: #f0ede9;
$base-color-darkGrey: #1c1c1a;
$base-color-darkPurple-disabled: #a9a9a9;
$base-color-dialogGrey: rgba(124, 124, 124, 0.7);
$base-color-white: #fff;
$base-color-dialogShadow: rgba(0, 0, 0, 0.3);
$base-color-softGrey: #999;
