@let userFormationsList = userFormations();

<div class="formationPresentation">
  <div class="align">
    <div class="timeline">
      <div class="dot"></div>
      <div class="line"></div>
    </div>
    <article class="articlGlobalPresentation">
      <p class="articleContent bold">
        {{ userFormationsList?.year }}
      </p>
      <h2 class="titlePartPresentation bold formationName">{{ userFormationsList?.nameForm }}</h2>
      <h3 class="formationDegree">{{ userFormationsList?.degree }}</h3>
      <p class="articleContent">{{ userFormationsList?.skillsForm }}</p>
    </article>
  </div>
</div>
