<app-biography [userInfos]="userInfos()"></app-biography>
<h3 class="titleH3Hook justifyCenter bold">{{ 'MY_STORY_PAGE.TITLE_01' | translate }}</h3>
@let formationList = userFormations();
@for (formation of formationList; track $index) {
  <app-my-story-formations [userFormations]="formation"></app-my-story-formations>
}
<h3 class="titleH3Hook justifyCenter bold">{{ 'MY_STORY_PAGE.TITLE_02' | translate }}</h3>
@let experiencesListReverse = reversedExperiencesList();
@for (experience of experiencesListReverse; track experience.id) {
  <app-experience-article [userExperience]="experience"></app-experience-article>
}
