@let project = userProject();
@if (sidePhotoArticle() === sidePhotoArticleEnum.DISPLAYLEFT) {
  <article class="align">
    <div class="articlProjectPresentation column">
      <p class="titlePartPresentation">Projet n°{{ project?.id }}</p>
      <p class="titleH3Hook left">{{ project?.name }}</p>
      <div class="articleContent">
        <p>{{ project?.year }}</p>
        <p>{{ project?.description }}</p>
        <a [href]="$safeNavigationMigration(project?.link)">Lien vers le projet</a>
      </div>
    </div>
    <img
      [src]="$safeNavigationMigration(project?.image)"
      class="fitImageProjects"
      [alt]="$safeNavigationMigration(project?.alt)"
    />
  </article>
} @else {
  <article class="align">
    <img
      [src]="$safeNavigationMigration(project?.image)"
      class="fitImageProjects"
      [alt]="$safeNavigationMigration(project?.alt)"
    />
    <div class="column articlProjectPresentation">
      <p class="titlePartPresentation">Projet n°{{ project?.id }}</p>
      <p class="titleH3Hook left">{{ project?.name }}</p>
      <div class="articleContent">
        <p>{{ project?.year }}</p>
        <p>{{ project?.description }}</p>
        <a [href]="$safeNavigationMigration(project?.link)">Lien vers le projet</a>
      </div>
    </div>
  </article>
}
