@use '@styles/styles.scss';

//
.footer {
  background-color: styles.$base-color-whiteCream;
  border: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: styles.$base-color-darkGrey;
}

@media (max-width: 75.375rem) {
  .footer {
    height: 5rem;
  }
}
@media (min-width: 75.375rem) {
  .footer {
    height: 10rem;
  }
}

@media (max-width: 75.375rem) {
  .positionTitleFooter {
    font-size: styles.$size-medium-mobile;
    margin: 0.5rem;
    line-height: 1rem;
  }
}
@media (min-width: 75.375rem) {
  .positionTitleFooter {
    font-size: styles.$size-medium-pc;
    margin: 0.5rem 2rem;
    line-height: 1.5rem;
  }
}
.h3TitleFooter {
  font-weight: bold;
}

.footerNavigationButtons {
  background-color: transparent;
  padding: 0 0.3rem;
  text-decoration: none;
  font-weight: bold;
  color: styles.$base-color-darkGrey;
}

@media (min-width: 75.375rem) {
  .footerNavigationButtons {
    font-size: styles.$size-medium-pc;
    padding: 0 2rem;
  }
}
@media (max-width: 75.375rem) {
  .footerNavigationButtons {
    font-size: styles.$size-small-mobile;
  }
}
