@use '@styles/classes.scss';
@use '@styles/variables.scss';

//
.footer {
  background-color: variables.$base-color-whiteCream;
  border: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: variables.$base-color-darkGrey;
}

@media (max-width: 75.375rem) {
  .footer {
    height: 5rem;
  }
}
@media (min-width: 75.375rem) {
  .footer {
    height: 10rem;
  }
}

.positionTitleFooter {
  text-align: right;
}
@media (max-width: 75.375rem) {
  .positionTitleFooter {
    font-size: variables.$size-medium-mobile;
    margin: 0.5rem;
    line-height: 1rem;
  }
}
@media (min-width: 75.375rem) {
  .positionTitleFooter {
    font-size: variables.$size-medium-pc;
    margin: 0.5rem 2rem;
    line-height: 1.5rem;
  }
}
.h3TitleFooter {
  font-weight: bold;
}

.footerNavigationButtons {
  background-color: transparent;
  padding: 0 0.3rem;
  text-decoration: none;
  font-weight: bold;
  color: variables.$base-color-darkGrey;
  transition: all 0.5s ease;
  text-decoration: underline variables.$base-color-whiteCream;
  text-underline-offset: 0.5rem;
}

.footerNavigationButtons:hover {
  color: variables.$base-color-darkPurple;
  text-decoration: underline variables.$base-color-darkOrange;
  text-underline-offset: 0.5rem;
  font-size: 1.5rem;
}

.mailFooter {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
  transition: all 0.5s ease;
}
.mailFooter:hover {
  height: 3.5rem;
  width: 3.5rem;
  color: variables.$base-color-darkPurple;
}

@media (min-width: 75.375rem) {
  .footerNavigationButtons {
    font-size: variables.$size-medium-pc;
    padding: 0 2rem;
  }
}
@media (max-width: 75.375rem) {
  .footerNavigationButtons {
    font-size: variables.$size-small-mobile;
  }
}

.footerNavigationButtonsNative {
  background: transparent;
  border: none;
  appearance: none;
  padding: 0 0.3rem;
  font-weight: bold;
  color: variables.$base-color-darkGrey;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  transition: all 0.5s ease;
  text-decoration: underline variables.$base-color-whiteCream;
  text-underline-offset: 0.5rem;
}
.footerNavigationButtonsNative:hover {
  color: variables.$base-color-darkPurple;
  font-size: 1.5rem;
  text-decoration: underline variables.$base-color-darkOrange;
  text-underline-offset: 0.5rem;
}

@media (min-width: 75.375rem) {
  .footerNavigationButtonsNative {
    font-size: variables.$size-medium-pc;
    padding: 0 2rem;
  }
}

@media (max-width: 75.375rem) {
  .footerNavigationButtonsNative {
    font-size: variables.$size-small-mobile;
  }
  .mailFooter {
    height: 1.2rem;
    width: 1.2rem;
    margin-top: 1rem;
  }
}
.brFooter {
  font-weight: bold;
}
