<footer class="footer">
  <div class="positionTitleFooter">
    @let user = footerUser();
    <h3 class="h3TitleFooter">{{ user?.name }} {{ user?.surname }}</h3>
    <p>
      @ 2026 {{ user?.name }} {{ user?.surname }} Portofolio. <br />
      Crafted with precision and soul.
    </p>
  </div>
  <nav>
    <ul class="align">
      @let links = footerUser()?.links;
      @for (link of links; track $index) {
        <li>
          @if (link.url.startsWith('mailto')) {
            <a [href]="link.url" class="footerNavigationButtons">{{ link.label }}</a>
          } @else if (link.label.includes('CV')) {
            <button class="footerNavigationButtonsNative" (click)="downloadCv()">
              {{ link.label }}
            </button>
          } @else {
            <a
              [href]="link.url"
              target="_blank"
              rel="noopener noreferrer"
              class="footerNavigationButtons"
              >{{ link.label }}</a
            >
          }
        </li>
      }
    </ul>
  </nav>
</footer>
