<footer class="footer">
            <div class="positionTitleFooter">
                <h3 class="h3TitleFooter">Emma Feret</h3>
                <p >@ 2026 Emma Feret Portofolio. <br> Crafted with precision and soul.</p>
            </div>
            <nav >
                <ul class="align">
                    <li >
                        <a href="#" class="footerNavigationButtons">Linkedin</a>
                    </li>
                    <li >
                        <a href="#" class="footerNavigationButtons">GitHub</a>
                    </li>
                    <li>
                        <a href="#" class="footerNavigationButtons">CV</a>
                    </li>
                    <li >
                        <a href="#" class="footerNavigationButtons">Mail</a>
                    </li>
                </ul>
            </nav>
</footer>
