<!-- Use of angular material for dialog (convention of title, content and actions) -->
<div class="modal-overlay">
  <div class="modal-content">
    <h2 mat-dialog-title class="titlePartPresentation">Merci pour votre message !</h2>
    <div mat-dialog-content class="textDialog">
      <p>Je vous recontacterai dès que possible.</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="closeModal()" class="darkPurpleSolidButtonNative">Fermer</button>
    </div>
  </div>
</div>
