<!-- Use of angular material for dialog -->
<div class="marginDialog" animate.enter="enter-animation">
  <h2 mat-dialog-title class="titlePartPresentation">{{ 'CONTACT_MODAL.TITLE' | translate }}</h2>

  <mat-dialog-content class="textDialog">
    <p>{{ 'CONTACT_MODAL.CONTENT' | translate }}</p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close class="darkPurpleSolidButtonNative">
      {{ 'CONTACT_MODAL.BUTTON' | translate }}
    </button>
  </mat-dialog-actions>
</div>
