@use '@styles/styles.scss';
@use '@styles/variables.scss';

.titlePartPresentation {
  text-align: center;
}

.textDialog {
  margin: 1rem;
  text-align: center;
}

@media (max-width: 75.375rem) {
  .darkPurpleSolidButtonNative {
    font-size: variables.$size-medium-mobile;
    padding: 0.45rem 0.5rem;
  }
}

@media (min-width: 75.375rem) {
  .darkPurpleSolidButtonNative {
    padding: 0.5rem 1rem;
  }
}
.marginDialog {
  margin: 1rem;
}
