@let userInfosList = userInfos();
<div class="align topMargin">
  <img src="/photoID_emmaFERET.jpg" class="biographyPhoto" />
  <div>
    <h2 class="titlePartPresentation">{{ userInfosList?.name }} {{ userInfosList?.surname }}</h2>
    <h3 class="titleH3Hook bold">Developpeuse Full Stack</h3>
    <p class="contentBiography">
      👩‍🎨Artiste de personnages 3D en reconversion, je mets aujourd’hui mon expérience et mes
      compétences au service d’un nouveau projet aligné avec mes passions et mes ambitions.
      <br /><br />✨Titulaire d'un master à Piktura en animation 3D, j’ai développé des qualités
      solides telles que l’adaptabilité, la créativité, la rigueur et le sens des responsabilités.
      <br />
      <br />👩‍💻Animée par une réelle envie d’évolution, j’ai entrepris une transition vers le secteur
      du développement informatique, dans lequel je me formerai activement à EPSI en septembre et
      développerai de nouvelles compétences. Cette démarche témoigne de ma capacité à apprendre
      rapidement, à sortir de ma zone de confort et à m’investir pleinement dans de nouveaux défis.
      <br /><br />🙌Curieuse, motivée et déterminée, je suis aujourd’hui à la recherche
      d’opportunités d'alternance qui me permettront de concrétiser ce nouveau projet professionnel
      . Ouverte aux échanges et aux opportunités, n’hésitez pas à me contacter pour en discuter !
    </p>
  </div>
</div>
