@use '@styles/variables.scss';
@use '@styles/styles.scss';

.skillsPageSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
  margin-left: 4rem;
  margin-right: 4rem;
}
.skillsBoxPurple {
  background-color: variables.$base-color-darkPurple;
  width: 40rem;
  border-radius: 3rem;
  transition-delay: 0.15s;
  height: 45rem;
  max-height: 40rem;
  border-color: variables.$base-color-softOrange;
  border-width: 1rem;
  margin: 0 1rem;
}
.skillsBoxWhite {
  background-color: variables.$base-color-whiteCream;
  width: 40rem;
  height: 45rem;
  max-height: 40rem;
  border-radius: 3rem;
  transition-delay: 0s;
  border-color: variables.$base-color-darkPurple;
  border-width: 1rem;
  margin: 0 1rem;
}

.h1TitlePurpleBox {
  font-size: variables.$size-medium-pc;
  font-weight: bold;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.skillsPresentation {
  display: grid;
  grid-template-columns: 1fr 1fr 3rem;
  align-items: center;

  margin: 5rem 2rem;
}
.start {
  justify-self: start;
  font-size: variables.$size-medium-pc;
}

.center {
  justify-self: center;
  text-align: center;
}

.end {
  justify-self: end;
}

.smallDescSkills {
  margin-top: 2rem;
  font-size: variables.$size-medium-pc;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 1.7;
}

.skillsPresentation {
  margin: 5rem 2rem;
}

.fixMargin {
  margin-top: 8rem;
}
.skillsImg {
  width: 3rem;
  height: 3rem;
}
.darkGreyColor {
  font-size: variables.$size-medium-pc;
}
.softPurple {
  font-size: variables.$size-medium-pc;
}
@media (max-width: 75.375rem) {
  .skillsPageSection {
    flex-direction: column;

    align-items: center;

    gap: 2rem;

    margin: 0rem 1rem 3rem 1rem;
  }

  .skillsBoxWhite,
  .skillsBoxPurple {
    width: 80%;

    margin: 0;
    height: auto;
    border-radius: 1.5rem;

    box-sizing: border-box;
  }

  .h1TitlePurpleBox {
    font-size: variables.$size-mediumPlus-mobile;

    margin-top: 1.5rem;
    margin-bottom: 1rem;

    text-align: center;
  }

  .smallDescSkills {
    margin: 1rem 1.5rem 2rem 1.5rem;

    font-size: variables.$size-medium-mobile;

    text-align: center;

    line-height: 1.7;
  }

  .skillsPresentation {
    margin: 1rem 1.5rem;

    align-items: center;
  }

  .skillsPresentation h3,
  .skillsPresentation p {
    font-size: variables.$size-medium-mobile;
  }

  .fixMargin {
    margin-top: 2rem;
  }
  .skillsImg {
    width: 2rem;
    height: 2rem;
  }
}
