@let userSkillsList = userSkills();
<div>
  <div class="centerSkills">
    <h2 class="titlePartPresentation">03. Expertise</h2>
    <h3 class="titleH3Hook">Double Compétence</h3>
  </div>
  <div class="align centerContent">
    <!-- Article 3D -->
    <article class="articlGlobalPresentation skillsBoxWhite">
      <h2 class="h1TitlePurpleBox articlGlobalPresentation darkGreyColor bold">
        &lt; &gt; Vision 3D
      </h2>
      <ul>
        @for (skill of userSkillsList; track $index) {
          @if (skill.type === skillTypeEnum.SKILL3D) {
            <li class="align centerContent">
              <h3 class="articlGlobalPresentation darkGreyColor bold">
                {{ skill.name }}
              </h3>
              <p class="articlGlobalPresentation darkPurpleColor">
                {{ skill.level }}
              </p>
            </li>
          }
        }
      </ul>
    </article>

    <!-- Article DEV -->
    <article class="articlGlobalPresentation skillsBoxPurple">
      <h2 class="h1TitlePurpleBox articlGlobalPresentation softPurpleColor bold">
        &lt; &gt; Programmation
      </h2>

      <ul>
        @for (skill of userSkillsList; track $index) {
          @if (skill.type === skillTypeEnum.SKILLDEV) {
            <li class="align centerContent">
              <h3 class="articlGlobalPresentation softPurpleColor bold">
                {{ skill.name }}
              </h3>
              <p class="articlGlobalPresentation softPurpleColor">
                {{ skill.level }}
              </p>
            </li>
          }
        }
      </ul>
    </article>
  </div>
</div>
