@let userSkillsList = userSkills();
<div class="fixMargin">
  <div class="centerSkills">
    <!-- <h2 class="titlePartPresentation">{{ 'SKILLS_SECTION.PART_TITLE' | translate }}</h2> -->
    <h2 class="titleH3Hook fixMargin">{{ 'SKILLS_SECTION.HOOK_TITLE' | translate }}</h2>
    <p class="skillsDesc">
      {{ 'SKILLS_SECTION.DESCRIPTION' | translate }}
    </p>
  </div>
  <div class="alignSkills">
    <!-- Article FRONT -->
    <article #skillCard class="skillsBoxWhite skillsCard">
      <h3 class="h1TitlePurpleBox articlGlobalPresentation darkGreyColor bold">
        {{ 'SKILLS_SECTION.CATEGORY_DEV' | translate }}
      </h3>
      <ul>
        @for (skill of userSkillsList; track $index) {
          @if (skill.type === skillTypeEnum.SKILLDEV) {
            <li class="skillRow">
              <h3 class="articlGlobalPresentation darkGreyColor bold skillsContent">
                {{ skill.name }}
              </h3>
              <p class="articlGlobalPresentation darkPurpleColor skillsContent">
                {{ skill.level | translate }}
              </p>
              <img src="{{ skill.image }}" alt="{{ skill.name }} image" class="skillsImg" />
            </li>
          }
        }
      </ul>
    </article>
    <!-- Article BACK -->
    <article #skillCard class="skillsBoxPurple skillsCard">
      <h3 class="h1TitlePurpleBox articlGlobalPresentation softPurple bold">
        {{ 'SKILLS_SECTION.CATEGORY_BACK' | translate }}
      </h3>
      <ul>
        @for (skill of userSkillsList; track $index) {
          @if (skill.type === skillTypeEnum.SKILLBACK) {
            <li class="skillRow softPurple">
              <h3 class="articlGlobalPresentation darkGreyColor bold skillsContent">
                {{ skill.name }}
              </h3>
              <p class="articlGlobalPresentation darkPurpleColor skillsContent">
                {{ skill.level | translate }}
              </p>
              <img src="{{ skill.image }}" alt="{{ skill.name }} image" class="java" />
            </li>
          }
        }
      </ul>
    </article>
    <!-- Article 3D -->
    <article #skillCard class="skillsBoxWhite skillsCard">
      <h3 class="h1TitlePurpleBox articlGlobalPresentation bold">
        {{ 'SKILLS_SECTION.CATEGORY_3D' | translate }}
      </h3>

      <ul>
        @for (skill of userSkillsList; track $index) {
          @if (skill.type === skillTypeEnum.SKILL3D) {
            <li class="grid skillRow">
              <h3 class="articlGlobalPresentation bold skillsContent">
                {{ skill.name }}
              </h3>
              <p class="articlGlobalPresentation skillsContent">
                {{ skill.level | translate }}
              </p>
              <img src="{{ skill.image }}" alt="{{ skill.name }} image" class="skillsImg" />
            </li>
          }
        }
      </ul>
    </article>
  </div>
</div>
